/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h1,
h2 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5%;
}

#hero {
  background-image: url("https://picsum.photos/400/400");
  background-size: cover;
  height: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}
